// Fonts
@import "../fonts/comfortaa/comfortaa.css";
@import "../fonts/roboto/roboto.css";

// Variables
@import 'variables';

:root {
    //font-size: 1.2rem;
    box-sizing: border-box;
}

@import "~bulma";
@import '~buefy/src/scss/buefy';

body {
    display: flex;
        align-items: stretch;
        flex-flow: column;
    font-size: $font-size-base;
    line-height: $lh-normal;
    min-height: 100vh;

    main {
        display: flex;
            align-items: stretch;
            flex-flow: column;
        flex-grow: 10;
        margin-top: 3rem;
    }
}

@import "components/nav_bar";
@import "components/form";
@import "components/footer";
@import "components/ui_components/tabs";
@import "components/admin";
