// Fonts
@import "../fonts/comfortaa/comfortaa.css";
@import "../fonts/roboto/roboto.css";

// Variables
@import 'variables';

:root {
    //font-size: 1.2rem;
    box-sizing: border-box;
}

body {
    display: flex;
        align-items: stretch;
        flex-flow: column;
    font-size: $font-size-base;
    line-height: $lh-normal;
    min-height: 100vh;

    main {
        display: flex;
            align-items: stretch;
            flex-flow: column;
        flex-grow: 10;
        margin-top: 3rem;
    }
}

.sm-tag {
    background-color: $text-color-base;
    border-radius: .3em;
    color: $text-color-disable;
    font-family: Roboto;
    font-weight: 700;
    padding: .2em .5em;
    margin: .2em .3em;
}

.sm-close-el:hover {
    color: white;
}

@import "components/nav_bar";
@import "components/form";
@import "components/footer";
@import "components/ui_components/tabs";
@import "components/admin";
