@import "admin_panel/menu";
@import "ui_components/ui_components";

#app {
    flex-grow: 12;
    display: flex;
        flex-flow: column;
}

.admin {
    display: flex;
    flex-grow: 12;
    margin: 1em 0;
    padding: 0;
}

.admin_main {
    padding: .3em 1em;
    margin: 0;
}

.admin-article, .admin-tag {
    margin: 0 auto;
    width: 50%;
}

.admin-attachment {
    &--title{
        font-family: Roboto;
        font-size: $font-size-h2;
        font-weight: 700;
        text-align: center;
    }

    &--collection {
        display: flex;
            flex-flow: row wrap;
        width: 100%;
    }
}
