@import "admin_panel/menu";
@import "ui_components/common";
@import "ui_components/table";
@import "ui_components/paginator";
@import "ui_components/notification";

#app {
    flex-grow: 12;
    display: flex;
        flex-flow: column;
}

.admin {
    display: flex;
    flex-grow: 12;
    margin: 1em 0;
    padding: 0;
}

.admin_main {
    padding: .3em 1em;
    margin: 0;
}
