.button_wrapper {
    display: flex;
    justify-content: flex-end;
    padding: .5em 0;
}

%base_button {
    background-color: $bc-grey-light;
    color: $text-color-base;
    border: 1px solid $text-color-base;
    font-family: Montserrat;
    font-weight: 400;
    padding: .3rem 1rem .2rem 1rem;
    outline: none;

    &:hover {
        background-color: $text-color-base;
        color: white;
        font-weight: 400;
    }
}

.default {
    @extend %base_button;
}

.danger {
    @extend %base_button;
    background-color: $bc-red-light;
    border-color: $red;
    color: $red;

    &:hover {
        background-color: $red;
    }
}

.success {
    @extend %base_button;
    background-color: $bc-green-light;
    border-color: $success;
    color: $success;

    &:hover {
        background-color: $success;
    }
}
