.button_wrapper {
    display: flex;
    justify-content: flex-end;
    padding: .5em 0;
}

.base {
    color: $text-color-base;
    border: 2px solid $text-color-base;
    border-radius: .4em;
    font-family: Comfortaa;
    font-weight: 700;
    padding: .5em 1em;
    outline: none;

    &:hover {
        color: white;
        background-color: $text-color-base;
    }
}

.danger {
    background-color: $bc-red-light;
    border: 2px solid $red;
    border-radius: .4em;
    color: $red;
    font-family: Comfortaa;
    font-weight: 700;
    outline: none;
    padding: .4em 1em;

    &:hover {
        color: white;
        background-color: $red;
    }
}

.b-new {
    color: $text-color-disable;
    outline: none;

    &:hover {
        color: $red;
        border-color: $red;
    }
}
